body {
    font-family: Arial, sans-serif;
    background: #b3acac;
}

.card-body{
    background: #b3acac;
}

.progress-bar {
    position: relative;
    background-color: #7b00ff;
    text-align: center;
}

.progress-bar span {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
}


#clicks-left {
    font-size: 14px;
    color: #555;
}


.photo-frame {
    cursor: pointer;
    display: inline-block;
}

.photo-frame img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 0.25rem;
}