<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Логин</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="frame">
    <header class="header">
        <h1>SkufWars</h1>
    </header>
    <main class="main">
        <div class="formContainer">
            <h2>Регистрация</h2>
            <form>
                <label for="login">Логин</label>
                <input type="text" id="login" class="inputField" name="login">

                <label for="password">Пароль</label>
                <input type="password" id="password" class="inputField">

                <label for="password">Подтвердите пароль</label>
                <input type="password" id="confirmPassword" class="inputField">

                <button type="button" class="button">Регистрация</button>
            </form>
        </div>
    </main>
</div>
</body>
</html>